{% extends "index.html" %}
{% block data %}
      <div class="row">
          <div class="col-md-2" style="text-align: right"> <h2>#</h2> </div>
          <div class="col-md-2"> <h2>OK</h2> </div>
          <div class="col-md-2"> <h2>CRITICAL</h2> </div>
          <div class="col-md-2"> <h2>WARNING</h2> </div>
          <div class="col-md-2"> <h2>DOWN</h2> </div>
          <div class="col-md-2"> <h2>ACK'd</h2> </div>
      </div>
{% if data | length > 0 %}
{% for d in data %}
      <div class="row spacer">
          <div class="col-md-2">
              <a href="{{ d.name }}" style="text-decoration: none; color: silver;">
                  <div class="inside" style="text-align: right; vertical-align: middle;">
                      <h4>{{ d.name }}</h4>
                  </div>
              </a>
          </div>
          <div class="col-md-2">
              <div class="inside alert ok">
                  <h4>{{ d.ok }}</h4>
              </div>
          </div>
          <div class="col-md-2">
              <div class="inside alert {% if d.critical >= 2 %}critical{% elif d.critical > 0 and d.critical < 2 %}warning{% else %}ok{% endif %}">
                  <h4>{{ d.critical }}</h4>
              </div>
          </div>
          <div class="col-md-2">
              <div class="inside alert {% if d.warning >= 1 %}warning{% else %}ok{% endif %}">
                  <h4>{{ d.warning }}</h4>
              </div>
          </div>
          <div class="col-md-2">
              <div class="inside alert {% if d.down >= 1 %}down{% else %}ok{% endif %}">
                  <h4>{{ d.down }}</h4>
              </div>
          </div>
          <div class="col-md-2">
              <div class="inside alert ack">
                  <h4>{{ d.ack }}</h4>
              </div>
          </div>

      </div>
      {% endfor %}
{% endif %}
{% endblock %}
