{% extends "index.html" %}
{% block data %}
      <div class="row">
          <div class="col-lg-2 col-xs-3" style="text-align: center"> <h2>#</h2> </div>
          <div class="col-lg-2 col-xs-3"> <h2>OK</h2> </div>
          <div class="col-lg-2 col-xs-3"> <h2>CRITICAL</h2> </div>
          <div class="col-lg-2 col-xs-3"> <h2>WARNING</h2> </div>
          <div class="col-lg-2 col-xs-3"> <h2>DOWN</h2> </div>
          <div class="col-lg-2 col-xs-3"> <h2>ACK'd</h2> </div>
      </div>
{% if data | length > 0 %}
{% for d in data %}
    <div class="row spacer">

    <div class="col-lg-2 col-xs-3">
      <div class="small-box">
            <div class="inner">
              <h3>{{ d.name }}</h3>
                <p>&nbsp;</p>
            </div>
            <div class="icon">
              <i class="fa fa-cogs"></i>
            </div>
            <a class="small-box-footer" href="/{{ d.name }}">Detail view
                <i class="fa fa-arrow-circle-right"></i>
            </a>
      </div>
    </div>

    <div class="col-lg-2 col-xs-3">
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{ d.ok }}</h3>
              <p>checks</p>
            </div>
            <div class="icon">
              <i class="fa fa-check-circle"></i>
            </div>

          </div>
    </div>

      <div class="col-lg-2 col-xs-3">
          <div class="small-box {% if d.critical >= 2 %}bg-red{% elif d.critical > 0 and d.critical < 2 %}bg-yellow{% else %}bg-green{% endif %}">
            <div class="inner">
              <h3>{{ d.critical }}</h3>
              <p>checks</p>
            </div>
            <div class="icon">
              <i class="fa fa-times-circle-o"></i>
            </div>

          </div>
        </div>

      <div class="col-lg-2 col-xs-3">
          <div class="small-box {% if d.warning >= 1 %}bg-yellow{% else %}bg-green{% endif %}">
            <div class="inner">
              <h3>{{ d.warning }}</h3>
              <p>checks</p>
            </div>
            <div class="icon">
              <i class="fa fa-exclamation-circle"></i>
            </div>

          </div>
        </div>

      <div class="col-lg-2 col-xs-3">
          <div class="small-box {% if d.down >= 1 %}bg-purple{% else %}bg-green{% endif %}">
            <div class="inner">
              <h3>{{ d.down }}</h3>
              <p>hosts</p>
            </div>
            <div class="icon">
              <i class="fa fa-arrow-circle-down"></i>
            </div>

          </div>
        </div>

      <div class="col-lg-2 col-xs-3">
          <div class="small-box bg-gray">
            <div class="inner">
              <h3>{{ d.ack }}</h3>
              <p>checks</p>
            </div>
            <div class="icon">
              <i class="fa fa-bell-slash"></i>
            </div>

          </div>
        </div>

      </div>
      {% endfor %}
{% endif %}
{% endblock %}
