<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="refresh" content="{{ appcfg.refresh }}">
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/adminlte.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/_all-skins.min.css') }}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="{{ url_for('static', filename='js/html5shiv.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
    <![endif]-->

      <title>Sensu-Grid</title>
      <style>
        body {
            background-color: {{ appcfg.bg_color | default("#333333") }};
            color: silver;
            width: 98%;
        }

        .center {
              margin: 0 auto;
              width: 98%;
          }

      </style>
  </head>
  <body class="skin-black">

    {% block topmenu %}{% endblock %}

  <div class="container-fluid center">

    {% block data %}{% endblock %}

  </div>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/adminlte.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script>
      $(document).ready(
          function () {
              $('[data-toggle="tooltip"]').tooltip()
      })
    </script>
  </body>
</html>
