<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="refresh" content="{{ appcfg.refresh }}">
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/adminlte.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/_all-skins.min.css') }}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="{{ url_for('static', filename='js/html5shiv.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
    <![endif]-->

      <title>Sensu-Grid</title>
      <style>
        body {
            background-color: {{ appcfg.bg_color | default("#333333") }};
            color: silver;
            width: 98%;
        }

        .center {
              margin: 0 auto;
              width: 98%;
          }

      </style>
  </head>
  <body class="skin-black">

    <nav class="navbar navbar-static-top">

    <div class="container-fluid">

        <div class="navbar-header">
          <a href="/" class="navbar-brand">SENSU # GRID</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Detail View<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                {% if data | length > 0 %}
                    {% for d in data %}
                        {% if d.name %}
                        <li><a href="/{{ d.name }}">{{ d.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>
            </li>
          </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" id="datetime"></a>
                </li>
            </ul>
        </div>
    </div>
  </nav>
  <script type="application/javascript">

    function formatAMPM() {
    var d = new Date(),
        seconds = d.getSeconds().toString().length == 1? '0'+ d.getSeconds() : d.getSeconds(),
        minutes = d.getMinutes().toString().length == 1 ? '0'+d.getMinutes() : d.getMinutes(),
        hours = d.getHours().toString().length == 1 ? '0'+d.getHours() : d.getHours(),
        ampm = d.getHours() >= 12 ? 'pm' : 'am',
        months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],
        days = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat'];
    return days[d.getDay()]+' '+months[d.getMonth()]+' '+d.getDate()+' '+d.getFullYear()+' '+hours+':'+minutes+':'+seconds;
    }

    setInterval(function(){
        document.getElementById("datetime").innerHTML = formatAMPM();
    }, 1000);

  </script>

  <div class="container-fluid center">

    {% block data %}{% endblock %}

  </div>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/adminlte.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script>
      $(document).ready(
          function () {
              $('[data-toggle="tooltip"]').tooltip()
      })
    </script>
  </body>
</html>
